@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Playwrite IT Moderna', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, rgb(255, 0, 208), rgb(0, 26, 255));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Rel贸gio */
.Rel贸gio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.Rel贸gio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #fff;
    background: rgba(5 , 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.Rel贸gio span {
    font-weight: bolder;
    font-size: 60px;
}

.Rel贸gio span.tempo {
    font-size: 10px;
}

/* Mensagem "Eu te amo" */
.euteamo {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: rgb(249, 8, 144);
    padding: 20px;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 
        -3px -3px 0 black,  
         3px -3px 0 black,  
        -3px  3px 0 black,  
         3px  3px 0 black;
    z-index: 1000;
}

/*  Responsividade para celular */
@media (max-width: 600px) {
    .Rel贸gio {
        width: 90%;
        height: 150px;
    }

    .Rel贸gio div {
        width: 100px;
        height: 120px;
        font-size: 40px;
    }

    .Rel贸gio span {
        font-size: 40px;
    }

    .euteamo {
        font-size: 40px;
        padding: 10px;
        text-shadow: 
            -2px -2px 0 black,  
             2px -2px 0 black,  
            -2px  2px 0 black,  
             2px  2px 0 black;
    }
}
